body {
  padding-top: 0px;
  padding-bottom: 0px;
}
    
header{
  padding-top:40px;
  padding-bottom:40px;
  margin-bottom:-110px;
}
    
section { 
  margin-bottom:40px;
  padding-top:40px;
  margin-top:-40px;
  min-height:400px;
  width:100%;
  min-width:100%;
  padding-bottom:40px;
  
}
.jumbotron{
  color: #fff;
  background-color: #7a62d3;
  -webkit-border-radius:0px;
    -moz-border-radius:0px;
      border-radius:0px;
  }
  
section .page-header{
  margin-top: 20px;
}

footer{
  display:inline-block;
  width:100%;
  min-width:100%;
  padding: 0;
  min-height:100px;
  background:#e0e0e0;
}
  
#Section-2{
  background:#f0f0f0;
}
  /****************** NAVIGATION STYLES *************************/
.navbar .nav > li > a {
  float: none;
  padding: 15px 20px 15px;
  color: #777777;
  text-decoration: none;
  text-shadow: none;
  font-size:14px;
  font-wight:bold;
  text-transform:uppercase;
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
  color: #333;
  text-decoration: none;
  background-color: #fff;
  -webkit-box-shadow:  none;
    -moz-box-shadow:   none;
      box-shadow:  none;
}
.navbar .brand {
  padding: 15px 0px 15px;
}
.subtitle-hope {
  font-size: 14px;
  font-style: italic;
}